# Rust client library - container version
# This file is mounted as 'justfile' inside the container
# Also used directly in CI container jobs

set shell := ["bash", "-c"]

TOP := `git rev-parse --show-toplevel`

default:
    @just --list

build:
    cargo build -p angzarr-client --release

test:
    cargo test -p angzarr-client --lib

test-verbose:
    cargo test -p angzarr-client --lib -- --nocapture

mutate:
    cargo mutants --jobs 4

mutate-dry:
    cargo mutants --list

publish-dry:
    cargo publish --dry-run

publish:
    cargo publish
