{{- /* DestinationRule for each aggregate service */ -}}
{{- range .Values.aggregates.domains }}
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ .service }}
  namespace: {{ $.Values.angzarrNamespace }}
  labels:
    app.kubernetes.io/name: angzarr-mesh-istio
    app.kubernetes.io/component: destinationrule
spec:
  host: {{ .service }}.{{ $.Values.angzarrNamespace }}.svc.cluster.local
  trafficPolicy:
    {{- if $.Values.mtls.enabled }}
    tls:
      mode: ISTIO_MUTUAL
    {{- end }}
    connectionPool:
      tcp:
        maxConnections: {{ $.Values.trafficPolicy.connectionPool.tcp.maxConnections }}
      http:
        h2UpgradePolicy: {{ $.Values.trafficPolicy.connectionPool.http.h2UpgradePolicy }}
        http2MaxRequests: {{ $.Values.trafficPolicy.connectionPool.http.http2MaxRequests }}
    {{- if $.Values.trafficPolicy.outlierDetection.enabled }}
    outlierDetection:
      consecutive5xxErrors: {{ $.Values.trafficPolicy.outlierDetection.consecutiveGatewayErrors }}
      interval: {{ $.Values.trafficPolicy.outlierDetection.interval }}
      baseEjectionTime: {{ $.Values.trafficPolicy.outlierDetection.baseEjectionTime }}
      maxEjectionPercent: {{ $.Values.trafficPolicy.outlierDetection.maxEjectionPercent }}
    {{- end }}
{{- end }}
{{- /* DestinationRule for stream service */ -}}
{{- if .Values.stream.enabled }}
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: {{ .Values.stream.service }}
  namespace: {{ .Values.angzarrNamespace }}
  labels:
    app.kubernetes.io/name: angzarr-mesh-istio
    app.kubernetes.io/component: destinationrule
spec:
  host: {{ .Values.stream.service }}.{{ .Values.angzarrNamespace }}.svc.cluster.local
  trafficPolicy:
    {{- if .Values.mtls.enabled }}
    tls:
      mode: ISTIO_MUTUAL
    {{- end }}
    connectionPool:
      tcp:
        maxConnections: {{ .Values.trafficPolicy.connectionPool.tcp.maxConnections }}
      http:
        h2UpgradePolicy: {{ .Values.trafficPolicy.connectionPool.http.h2UpgradePolicy }}
        http2MaxRequests: {{ .Values.trafficPolicy.connectionPool.http.http2MaxRequests }}
    {{- if .Values.trafficPolicy.outlierDetection.enabled }}
    outlierDetection:
      consecutive5xxErrors: {{ .Values.trafficPolicy.outlierDetection.consecutiveGatewayErrors }}
      interval: {{ .Values.trafficPolicy.outlierDetection.interval }}
      baseEjectionTime: {{ .Values.trafficPolicy.outlierDetection.baseEjectionTime }}
      maxEjectionPercent: {{ .Values.trafficPolicy.outlierDetection.maxEjectionPercent }}
    {{- end }}
{{- end }}
