apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: angzarr-gateway
  namespace: {{ .Values.angzarrNamespace }}
  labels:
    app.kubernetes.io/name: angzarr-mesh-istio
    app.kubernetes.io/component: gateway
spec:
  selector:
    istio: {{ .Values.gateway.selector }}
  servers:
    - port:
        number: {{ .Values.gateway.port }}
        name: grpc
        protocol: GRPC
      hosts:
        {{- range .Values.gateway.hosts }}
        - {{ . | quote }}
        {{- end }}
      {{- if .Values.gateway.tls.enabled }}
      tls:
        mode: {{ .Values.gateway.tls.mode }}
        credentialName: {{ .Values.gateway.tls.credentialName }}
      {{- end }}
