{{- if .Values.mtls.enabled }}
apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: angzarr-mtls
  namespace: {{ .Values.angzarrNamespace }}
  labels:
    app.kubernetes.io/name: angzarr-mesh-istio
    app.kubernetes.io/component: peerauthentication
spec:
  mtls:
    mode: {{ .Values.mtls.mode }}
{{- end }}
