{{- /* Server resources for each aggregate service */ -}}
{{- range .Values.aggregates.domains }}
---
apiVersion: policy.linkerd.io/v1beta3
kind: Server
metadata:
  name: {{ .service }}
  namespace: {{ $.Values.angzarrNamespace }}
  labels:
    app.kubernetes.io/name: angzarr-mesh-linkerd
    app.kubernetes.io/component: server
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ .service }}
  port: {{ .port }}
  proxyProtocol: gRPC
{{- end }}
{{- /* Server for stream service */ -}}
{{- if .Values.stream.enabled }}
---
apiVersion: policy.linkerd.io/v1beta3
kind: Server
metadata:
  name: {{ .Values.stream.service }}
  namespace: {{ .Values.angzarrNamespace }}
  labels:
    app.kubernetes.io/name: angzarr-mesh-linkerd
    app.kubernetes.io/component: server
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.stream.service }}
  port: {{ .Values.stream.port }}
  proxyProtocol: gRPC
{{- end }}
