apiVersion: v1
kind: ConfigMap
metadata:
  name: evented-config
  namespace: evented
data:
  config.yaml: |
    storage:
      type: sqlite
      path: /app/data/events.db

    server:
      command_handler_port: 50051
      event_query_port: 50052
      host: 0.0.0.0

    business_logic:
      - domain: customer
        address: rs-customer:50052
      - domain: transaction
        address: rs-transaction:50053

    projectors:
      - name: receipt
        address: rs-projector-receipt:50055
        synchronous: true
      - name: rs-log-customer
        address: rs-projector-log-customer:50056
        synchronous: false
      - name: rs-log-transaction
        address: rs-projector-log-transaction:50057
        synchronous: false
      - name: go-log-customer
        address: go-projector-log-customer:50058
        synchronous: false
      - name: go-log-transaction
        address: go-projector-log-transaction:50059
        synchronous: false
      - name: py-log-customer
        address: py-projector-log-customer:50060
        synchronous: false
      - name: py-log-transaction
        address: py-projector-log-transaction:50061
        synchronous: false

    sagas:
      - name: saga-loyalty
        address: rs-saga-loyalty:50054
        synchronous: false
